#block{
    background-color: rgb(41, 65, 171);
}

#block article{
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    min-height: 630px;
}

#block article .sliderLeft{
    flex-basis: 60%;
    
}

#block article .sliderRight{
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.sliderleft{
    margin: 80px 0;
    color:#1ed760;
}

.sliderleft h4{
    padding-bottom: 50px;
    font-size: 14px;
}

.sliderleft h1{
    font-size: 3.5em;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 40px;
}
.enjoy{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 50px;
    letter-spacing: 1.3px;
}

.sliderleft button{
    padding: 17px 48px;
    border-radius: 500px;
    border: none;
    background: #1ed760 !important;
    color:  #202f72;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-weight: bold;
    margin-bottom: 50px;
}

.right figure{
background-image: url("./slide3.svg");
    width: 80%;
    height: 100%;
    /* position: absolute; */
}
.copyWrite{
    font-size: 13px;
}